# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyC4XePlD9yCypx20ETtstNnlLTqQJzHS4A
VITE_FIREBASE_AUTH_DOMAIN=uihub-9f59a.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=uihub-9f59a
VITE_FIREBASE_STORAGE_BUCKET=uihub-9f59a.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1097665555937
VITE_FIREBASE_APP_ID=1:1097665555937:web:c26444b10ef45f74fef6a0
VITE_FIREBASE_MEASUREMENT_ID=G-V3R9RJC81G
VITE_SUPABASE_URL=https://idtnltcfcaxqbpemceki.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlkdG5sdGNmY2F4cWJwZW1jZWtpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY4NTUzNDEsImV4cCI6MjA2MjQzMTM0MX0.H4sHy23i8NGZMc4AbU7NvIDZJHq7TVz7ITI8Fy4FVBM